
.main{
	clear:both;
}

.main > div, .main .folder{
	clear: both;
	background-color: #3D3D3D;
	border-top: 1px solid #4d4d4d;
	border-bottom: 1px solid #333;
	padding: 6px 0 0 0;
}

.main .folder .folder{
	margin: 0 -1px;
	/*padding: 3px 8px;*/
	text-indent: 5px;
	border-bottom: solid 1px rgba(0,0,0,0.5);
	/*padding-left: 20px;*/
	background-color: #222;
}

.main .folder .folder .folder{
	/*background: #EEE;*/
	border-top: solid 1px #FFF;
	border-bottom: solid 1px #000;
}

.main .folder.active > div{
	display: block;
}

.main .folder .content{
	display: none;
}
.main .folder.active .content{
	clear: both;
	background: #333;
}

.main .folder{
	background-color: #525252;
	background-image: url("icon-theme/img/barHead.png");
	background-position: 95% 50%;
	background-repeat: no-repeat;
	border-top: 1px solid #676767;
	cursor: pointer;
}
.main .folder.active{
	background-color: rgba(255, 255, 255, 0.1);
	background-image: none;
	/*
	background-image: url("icon-theme/img/barOpen.png");
	background-position: 95% 5px;
	*/
}
.main .folder .content > div{
	padding: 3px 0 0 0;
}

.main .folder > .head{
	display: block;
}

.main .dynamicBlock{
	min-height: 20px;
	position: relative;
}
.main .dynamicBlock .dynamicBlock{
	margin-right: -30px !important;
	min-height: 32px;
}

.main .dynamicBlock .folder{
	border-bottom: solid 1px rgba(0,0,0,0.3);
	border-top: none;
	margin-bottom: -1px;
}


.main .dynamicBlock div.input {
	margin-right: 30px;
	padding: 4px 0 3px;
}

.main div.dynamicBlock .delete{
	position: absolute;
	top: 3px;
	right: -5px;
	display: block;
	width: 26px;
	height: 26px;
	background-color: rgba(255,0,0,0.8);
	border-radius: 5px;
	color: transparent;
	padding: 0;
}

.main .head{
	text-transform: uppercase;
	font-size: 10px;
	color: #9b9b9b;
	/*text-shadow: 0 1px 2px #000;*/
	padding: 2px 0 12px 10px;
	cursor: default;
	float:left;
}
.main .folder > .head{
	font-weight: bold;
	color: #d5d5d5;
	padding-left: 30px;
}

.main .input > input, .main .input > select{
	background-color: #d4d4d4;
	padding: 2px;
	border-radius: 2px;
	border: 1px solid #EEE;
	font-family: Verdana;
	font-size: 11.5px;
	color: #333;
	text-shadow: 0 0 1px #FFF;
	width: 60%;
	float:right;
}

.main .folder .folder .input > select{
	width: 100%;
}

.main .input > input{
	width: 58%;
}


.main .unity .unity  > div{
	float: left;
	width: 46%;
	padding: 0 4% 0 0%;
}


.main .unity input{
	width: 98%;
}

.main .input .headless .head{
	display: none !important;
}
.main .headless .input{
	display: block;
}


.main .union2{
	width: 44%;
	float: left;
	margin: 0 0 0 0;
	padding: 0 0 0;
	clear: none;
	display: inline-block !important;
}
.main .icon{
	clear: none;
}

.main .input a{
	display: block;
	padding: 3px 5px;
	cursor: pointer;
	float: none;
	clear: both;
}


/* UNION 2 */
.main .union2{
	float: left;
	margin: 0 0 0 0;
	clear: none;
}
.union2 .input input{
	width: 20% !important;
}
.main > .union2{
	width: 50%;
}

.main > .clearUpload{
	float: none;
}

::-webkit-input-placeholder{ color: #999 !important; }
:-moz-placeholder{ color: #999 !important; }
