
body > .main{
	position: absolute;
	background-color: rgb(0, 0, 0);
	z-index: 999;
	left: 350px;
	top: 307px;
	padding: 10px;
	border-radius: 2px;
	min-width: 250px;
}

.main{
	overflow: auto;
}

.main .input > *:focus {
	border-radius: 3px;
	/* color: #03e; */
}

.main{
	clear:both;
	text-align: center;
	min-height: 5px;
	overflow: auto;
}
.main .item {position: relative;min-height: 23px;}

.main > div, .main .folder{
	clear: both;
	background-color: rgba(0,0,0,0.2);
	padding: 6px 0 0 0;
}
.main > div{
	border-top: 1px solid rgba(255,255,255,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.2);
	text-align: left;
}

.main .folder{
	background: url(icon-theme/img/folder_close1.png) no-repeat 10px 7px;
}
/* .main .folder:hover{
	background: url(icon-theme/img/barOpenHover.png) no-repeat 6px 5px;
} */
.main .folder.active{
	background: url(icon-theme/img/folder_open1.png) no-repeat 6px 10px;
	min-height: 40px;
}
/* .main .folder.active:hover{
	background: url(icon-theme/img/barCloseHover.png) no-repeat 6px 5px;
} */

.main .folder .folder{
	/* margin: 0 -1px; */
	/*padding: 3px 8px;*/
	/* text-indent: 5px; */
	/*padding-left: 20px;*/
	/* border-bottom: solid 1px rgba(0,0,0,0.5); */
	position: relative;
	background: url(icon-theme/img/folder_close1.png) no-repeat 10px 7px;
}
.main .folder .folder .folder{
	background: url(icon-theme/img/folder_close1.png) no-repeat 10px 7px;
}
/* .main .folder .folder:hover{
	background: url(icon-theme/img/barOpenHover.png) no-repeat 6px 5px;
} */
.main .folder .folder.active{
	background: url(icon-theme/img/folder_open1.png) no-repeat 6px 10px;
	min-height: 40px;
}
/* .main .folder .folder.active:hover{
	background: url(icon-theme/img/barCloseHover.png) no-repeat 6px 5px;
} */
/* .main .folder.active .arrow{
	position: absolute;
	z-index: 9999;
	top: 27px;
	right: 5px;
	width: 18px;
	height: 9px;
	background: url(icon-theme/img/arrowDown1.png) no-repeat 0 0;
}
.main .folder.active .folder .arrow{
	display: none;
}
.main .folder .folder.active .arrow{
	display: block;
	background: url(icon-theme/img/arrowDown1.png) no-repeat 0 0;
}
.main .folder .folder.active .folder .arrow{
	display: none;
}
.main .folder .folder .folder.active .arrow{
	display: block;
	background: url(icon-theme/img/arrowDown1.png) no-repeat 0 0;
}
.main .folder .folder .folder.active .folder .arrow{
	display: none;
}
.main .folder .folder .folder .folder.active .arrow{
	display: block;
	background: url(icon-theme/img/arrowDown1.png) no-repeat 0 0;
}
.main .folder .folder .folder .folder.active .folder .arrow{
	display: none;
}
.main .folder .folder .folder .folder .folder.active .arrow{
	display: block;
	background: url(icon-theme/img/arrowDown1.png) no-repeat 0 0;
}
.main .folder .folder .folder .folder .folder.active .folder .arrow{
	display: none;
} */

.main .folderDynamic{
	padding-top: 1px;
}

.main .folder.active > div{
	display: block;
}

.main .folder .content{
	display: none;
}
.main .folder.active .content{
	clear: both;
}
.main .folder{
	background-color: rgba(0,0,0,0);
	position: relative;
	padding-top: 3px;
	/* border-bottom: 1px solid #434343; */
	cursor: pointer;
}

.main .folder > .head{
	display: block;
	padding-bottom: 7px;
	cursor: pointer;
}
.main .folder .folder .head {text-transform: capitalize;}
.main .folder .item {cursor: auto;}

.main > .item .head {vertical-align: top;padding: 2px 0 0 10px;}
/* .main > .item .input {margin-left: 10px;} */
.main .folder .item .head {
	border: 0 none;
	font-weight: normal;
	color: #d5d5d5;
	padding: 3px 0 0 15px;
}
.main .item.textarea .head {
	padding-bottom: 6px;
}
.main .folder .folder .folder .item .head{
	color: #353535;
}
.main .item .input {
	/* margin-bottom: 10px; */
	-moz-user-select: text;
	min-width: 55%;

}

.main .dynamicBlock{
	min-height: 20px;
	position: relative;
	border-bottom: solid 1px rgba(255,255,255,0.7);
}
.main .dynamicBlock .dynamicBlock{
	margin-right: -30px !important;
	min-height: 32px;
}

.main .dynamicBlock .folder{
	border-bottom: solid 1px rgba(0,0,0,0.3);
	border-top: none;
	margin-bottom: -1px;
}


.main .dynamicBlock .input {
	margin: 3px 31px 3px 36px;
	padding: 2px;
	width: 80%;
	top: 0px;
}

.main div.item .delete{
	position: absolute;
	bottom: 2px;
	right: 2px;
	display: block;
	width: 26px;
	height: 26px;
	background: url(icon-theme/img/delete.png) no-repeat 50% 50%;
	border-radius: 5px;
	color: transparent;
	padding: 0;
	cursor: pointer;
}

.main .inputDynamic .main > .item{
min-height: 20px;
position: relative;
border-bottom: solid 1px rgba(255,255,255,0.7);
}

.main div.dynamicBlock .delete:hover {background: url(icon-theme/img/deleteHover.png) no-repeat 50% 50%;}

.main .inputDynamic .main .item.dynamicBlock:first-child {
	padding-top: 8px;
}
.main .inputDynamic .main .item.dynamicBlock {
padding-top: 0px;
padding-bottom: 1px;
border-bottom: 1px solid rgba(255,255,255,0.3);
}

.inputDynamic .button{
	margin: 4px 0 7px 82px;
}


.main .head{
	font-family: arial,sans-serif;
	/*font-variant: small-caps;*/
	font-size: 12px;
	line-height: 14px;
	color: #ddd;
	/*text-shadow: 0 1px 2px #000;*/
	padding: 4px 0 3px 10px;
	cursor: default;
	/* width: 20%; */
	/* float: left; */
	display: inline-block;
	text-overflow: ellipsis;
	max-width: 45%;
	overflow: hidden;
	min-width: 45%;
}


.main .folder > .head{
	font-weight: bold;
	color: #d5d5d5;
	padding-left: 26px;
	min-width: inherit !important;
	max-width: inherit !important;
}

.main .input {
	/* width: 60%; */
	height: 15px;
	background-color: #1f1f1f;
	border-radius: 4px;
	border: 1px solid #161616;
	padding: 2px 9px;
	margin: 0 10px 0 0;
	/* float: right; */
	display: inline-block;
	position: absolute;
	top: 4px;
	right: 0;
}
.main .input > input, .main .input > select{
	background: #1f1f1f;
	font-family: arial,sans-serif;
	font-size: 13px;
	line-height: 15px;
	color: #cfcfcf;
	text-shadow: 1px 1px 0 #000;
	width: 100%;
	cursor: pointer;
}
.main .input > input:focus, .main .input > select:focus{
	text-shadow: 1px 1px 0 #000;
}

.main .input > select{
	border-radius: 3px;
	padding: 2px;
	margin-top: -3px;
}
.main .upload .input {padding: 0;margin: 0;border: 0 none;display: none;}


.main .qq-upload-button input:focus{
	background-color: #666;
	opacity: 0.3 !important;
}

.main .button:focus{
	background-color: #666;
}

.main .item.upload.clearUpload.icon { clear: left; width: 60% !important;}
.upload .head {pointer-events: none;}

.main .unity .unity  > div{
	float: left;
	width: 46%;
	padding: 0 4% 0 0%;
}

.main .unity input{
	width: 98%;
}

.main .input .headless .head{
	display: none !important;
}
.main .headless .input{
	display: block;
}



.main .icon{
	clear: none;
}


/* UNION 2 */
.main .union2{
	width: 50% !important;
	float: left !important;
	margin: 0 0 0 0 !important;
	padding: 6px 0 0 !important;
	clear: none !important;
	display: inline-block !important;
	border: none !important;
	border-bottom: 1px solid rgba(0,0,0,0.2) !important;
}
.main .union2 .input{
	padding: 0 !important;
	margin: 3px -5px 4px 11px !important;
	min-height: 20px;
	width: 85%;
}
.main .union2 .input.slider {margin-top: 8px !important;}
.main .union2 .custom_adjust {top: -1px;}
.main .union2 .input input,.main .union2 .input select{
	width: 100% !important;
	margin: 0 !important;
	padding: 2px 0 !important;
}

.main > .clearUpload{
	float: none;
}
/* ::-webkit-input-placeholder{ color: #999 !important; }
:-moz-placeholder{ color: #999 !important; } */


/* ITEM SEPERATION */
/* first level */
.main .folder {border: 0 none;}
.main > .folder {border-bottom: 1px solid rgba(255,255,255,0.1);}
.main .folder .head {border-bottom: 1px solid rgba(0,0,0,0.2);}

/* second level */
.main .folder .folder .head {border-bottom: 1px solid rgba(0,0,0,0.2);}
.main .folder .folder {border-top: 1px solid rgba(255,255,255,0.1);}

.main .folder .item {border-top: 1px solid rgba(255,255,255,0.1);border-bottom: 1px solid rgba(0,0,0,0.2);padding-top: 4px;}
.main .folder .item:first-child {border-top: 0 none;}

/* third level */
.main .folder .folder .folder .head {border-bottom: 1px solid rgba(0,0,0,0.2);}
.main .folder .folder .folder .item .head {border: 0 none;}
.main .folder .folder .folder {border-top: 1px solid rgba(255,255,255,0.1);}
.main .folder .folder .folder:first-child {border-top: none;}

.main .folder .folder .item {
border-top: 1px solid rgba(255,255,255,0.1);
border-bottom: 1px solid rgba(0,0,0,0.2);
padding: 4px 0 5px 0;
background-color: rgba(255,255,255,0.01);
}
.main .folder .folder .item:first-child {border-top: 0 none;}



/* gradients/shadows */
.main .folder.active .content,
.main .folder .folder .folder.active .content {
	background-image: linear-gradient(bottom, rgba(0,0,0,0.1), rgba(255,255,255,0.1) 5px);
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.1), rgba(255,255,255,0.1) 5px);
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.1), rgba(255,255,255,0.1) 5px);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.1), rgba(255,255,255,0.1) 5px);
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.1), rgba(255,255,255,0.1) 5px);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgba(0,0,0,0.1)),
		color-stop(5px, rgba(255,255,255,0.1))
	);
}
.main .folder.active .content .content {
	background-image: none;
	background: rgba(255,255,255,0.1);
}


.main .folder.active > .content {
	-moz-box-shadow: 0 9px 3px -7px rgba(0,0,0,0.2) inset!important;
	-webkit-box-shadow: 0 9px 3px -7px rgba(0,0,0,0.2) inset!important;
	box-shadow: 0 9px 3px -7px rgba(0,0,0,0.2) inset!important;
}
.main .folder.active .folder:first-child {border-top: 0 none;}


.main .folder .dynamicBlock .head {border: 0 none;}
.main .union2 {padding-bottom: 3px;border-bottom: 1px solid rgba(0,0,0,0.2);}

.main .input.bool {background: none;border: 0 none;}

.main .input.bool .button:hover .gradient {background-color: rgba(0, 0, 0, 0.3);}
.main .input.bool .button.active:hover .gradient {background-color: rgba(0, 0, 0, 0.2);}
.main .input.bool .button.active .gradient {
	box-shadow: inset 0 1px 4px rgba(0,0,0,0.8);
	border: solid 1px rgba(225,225,225,0.1);
}

.input.list {background: none;border: 0 none;padding: 0;cursor: pointer;}
.input.list .ui-button, .input.list .ui-button.ui-state-hover {
	display: block;
	border: 0 none;
	background: #1896cb !important;
	width: 25px;
	height: 22px;
	bottom: -1px;
}
.input.list input {
	display: block;
    width: 248px;
	height: 22px;
    line-height: 22px;
	background: #d4d4d4;
	border-radius: 4px 0 0 4px;
	color: #cfcfcf;
    padding-left: 3px;
	cursor: pointer;
	font-family: arial, sans-serif;
    font-size: 13px;
    text-shadow: 0 0 1px #fff;
}
.folder .input {top: 3px;}
.folder .input.special {top: 1px;}
.folder .color .input {top: 4px;}
.folder .input.list input {width: 220px;}
.input.list .ui-autocomplete {cursor: pointer;}
.folder .input.list .ui-autocomplete {width: 223px !important;}
.input.list .ui-autocomplete li {padding: 0 3px;}
.input.list .ui-autocomplete li:hover {background: #9f9f9f;}
.input.list .ui-autocomplete a {color: #000;font-weight: normal;border: 0 none;}

.folder .dynamicBlock .input.list {top: -1px;}


.main .item.link .input {
	margin: 0 12px;
	left: 0;
	min-height: 17px;
}

.main .link .input{
	padding: 1px 1px 1px 5px;
	margin-bottom: 3px;
	margin-top: -2px;
}
.main .link .input a{
	color: #ddd;
	cursor: pointer;
}

.item.link.buttonSmall {
	position: absolute;
	top: 2px;
	right: 20px;
	border: none !important;
	width: 24px;
	/* left: auto !important; */
}
.item.link.buttonSmall a{
	line-height: 16px;
}

.main input{
	color: #fff;
}

.ui-colorpicker-hex-container{
	text-align: left;
}
.ui-colorpicker-hex-input{
	display: inline;
}
.ui-colorpicker label{
	position: relative;
	height: 26px;
	display: inline-block;
	color: #fff;
}

.item.color .input {background: none;border: 0;}
